<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script defer src="../public/main.js"></script>
</head>
<body>
    <div>
        <h1>Sign In</h1>
        <form id="signinform" method="post" action="/auth/signin">
            <div>
                <label for="signinemail">Email</label>
                <input id="signinemail" type="email" name="email" placeholder="email" required />
            </div>
            <br/>
            <div>
                <label for="signinpassword">Password</label>
                <input id="signinpassword" type="password" name="password" placeholder="password" required />
            </div>
            <br/>
            <button type="submit">Submit</button>
            <div><a href="#">Forgot Password?</a></div>
        </form>
        <br/>
        <div id="signinerrorBox"></div>
    </div>
</body>
</html>